.Statement {
  position: absolute;
  left: 50%;
  width: 550px;
  margin-left: -275px;
  z-index: 2;
  font-family: 'sor_pixelregular';
  font-size: 26px;
  line-height: 42px;
  text-transform: uppercase;
  font-style: italic;

  h2 {
    text-align: center;
    font-size: 20px;
  }

  p {
    margin: 0 0 30px 0;
  }
}
