.Statement {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.Statement__text {
  font-family: 'streets-of-rage';
  position: absolute;
  top: 100%;
  left: 50%;
  width: 80%;
  transform: translateX(-50%);
  text-transform: uppercase;
  font-style: italic;
  animation: scrolltext 40s linear;
}

@media (min-width: 1000px) {
  .Statement__text {
    width: 600px;
  }
}

@keyframes scrolltext {
  100% {
    top: -100%;
  }
}

.Statement__text h2 {
  text-align: center;
  font-size: 20px;
}

.Statement__text p {
  font-size: 24px;
  line-height: 36px;
  margin: 0 0 24px;
}
