<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title><%= current_page.data.title || 'Static Boosted' %></title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">

<%#= google_font 'Your+Fav+Google+Font:300,400' %>
<%= stylesheet_link_tag 'application' %>
<%= javascript_include_tag 'lib/modernizr-respond.js' %>
