// At Break v1.5

// Breakpoints (Bootstrap values, Mobile first)
$breakpoints: (
  mobile: 480px,
  tablet: 768px,
  desktop: 992px,
  wide: 1200px
) !default;

@mixin at-break($breakpoint, $only: false) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: #{map-get($breakpoints, $breakpoint)}) {
      @content;
    }
  }
}

@mixin at-mobile-only {
  @media (max-width: #{map-get($breakpoints, tablet) - .02}) {
    @content;
  }
}

@mixin at-mobile {
  @include at-break(mobile) {
    @content;
  }
}

@mixin at-tablet {
  @include at-break(tablet) {
    @content;
  }
}

@mixin at-desktop {
  @include at-break(desktop) {
    @content;
  }
}

@mixin at-wide {
  @include at-break(wide) {
    @content;
  }
}
