.City {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.City__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 500%;
  height: 100%;
  background: #000 url('/src/img/city.png') 0 0 repeat-x;
  animation: scroll 160s infinite linear;
}

@keyframes scroll {
  from {
    left: 0%;
  }

  to {
    left: -500%;
  }
}
