:root {
  --size: 844px;
  --speed: 50s;
}

@media (min-width: 1000px) and (min-height: 1000px) {
  :root {
    --size: 1000px;
  }
}

@media (min-width: 1280px) and (min-height: 1280px) {
  :root {
    --size: 1280px;
  }
}

@keyframes scroll {
  0% {
    background-position: var(--size) var(--size);
  }
}

.City {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: var(--size);
  transform: translateY(-50%);

  z-index: 1;
  background-image: url('/img/bg.png');
  background-repeat: repeat;
  background-position: 0 var(--size);
  background-size: auto var(--size);
  animation: scroll var(--speed) infinite linear;
}
