@import url('vars.css');
@import url('normalize.css');

@font-face {
  font-family: 'streets-of-rage';
  src: local('streets-of-rage'),
    url('/font/streets-of-rage.ttf') format('truetype');
}

body {
  font-family: 'streets-of-rage';
  width: 100vw;
  height: 100vh;
}

.App {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #000;
  color: #fff;
}

.inset-0 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fade-in {
  opacity: 0;
  animation: fadeIn var(--speed-2xl) ease-in-out forwards;
}

.fade-out {
  opacity: 1;
  animation: fadeOut var(--speed-2xl) ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
