@import url(normalize.css);

@font-face {
  font-family: 'streets-of-rage';
  src: local('streets-of-rage'),
    url('/font/streets-of-rage.ttf') format('truetype');
}

body {
  font-family: 'streets-of-rage';
  width: 100vw;
  height: 100vh;
}

.App {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #000;
  color: #fff;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
}

.fade-out {
  opacity: 1;
  animation: fadeOut 2s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
