<div class="active" id="about-Manu">
  <div class="manu">Made with <i class="fa fa-heart"></i> by Manu Morante</div>
  <a href="http://twitter.com/unavezfui/"><i class="fa fa-twitter"></i></a>
  <a href="http://github.com/manumorante/" target="_blank"><i class="fa fa-github"></i></a>
  <a href="http://instagram.com/unavezfui/" target="_blank"><i class="fa fa-instagram"></i></a>
  <a href="http://codepen.io/unavezfui/" target="_blank"><i class="fa fa-code"></i></a>
  <a class="thisbox" href="http://codepen.io/unavezfui/pen/FsGHp" target="_blank"><i class="fa fa-edit"></i></a>
  <a class="closebox" href="javascript:document.getElementById(&quot;about-Manu&quot;).classList.remove(&quot;active&quot;);"><i class="fa fa-close"></i></a>
</div>