---
title: Home
---

<%= partial 'sega-logo' %>

<%= partial 'city' %>

<div class="statement">
  <p>This city was once a happy. Peaceful place... Until one day. A powerful secret criminal organization took over. This vicious syndicate soon had control of the government and even the police force. The city has become a center of violence and crime where no one is safe.</p>
</div>

<p>Amid this turmoil. A group of determined young police officers has sworn to clean up the city. Amoung them are Adan Hunter, Alex Stone and Blaze Fielding. They are willing to risk anything... Even their lives... On the...</p>

<h2>Streets of Rage</h2>

<%= partial 'credit' %>

// Music
[[[//codepen.io/unavezfui/pen/gboMWJ.slim]]]

// Silence icon
[[[//codepen.io/unavezfui/pen/RNxRWe.slim]]]

// Abaut Manu Morante pen.
[[[//codepen.io/unavezfui/pen/FsGHp]]]