.Manifest {
  z-index: 2;
  overflow: hidden;
}

.Manifest__text {
  position: absolute;
  top: 110%;
  left: 50%;
  width: 80%;
  transform: translateX(-50%);
  font-family: 'streets-of-rage';
  font-size: 20px;
  line-height: 30px;
}

@media (min-width: 1000px) {
  .Manifest__text {
    width: 600px;
    font-size: 24px;
    line-height: 36px;
  }
}
.scroll-up {
  animation: scroll-up 40s linear forwards;
}

@keyframes scroll-up {
  100% {
    top: -100%;
  }
}

.Manifest__title {
  text-align: center;
  font-size: 20px;
}

.Manifest__text p {
  margin: 0 0 var(--l);
}
